* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
li {
  list-style-type: none;
}
.main {
  background-color: #f7f7f7;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 100px;
  background-color: #fff;
}

.header_logo {
  display: flex;
  align-items: center;
}
.header_logo img {
  width: 100px;
  border-radius: 50%;
}

.header_logo span {
  font-size: 50px;
}

.header_nav {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 25px;
}

.navbar_user {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
}

.navbar_user::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 100%;
  background-color: #ccc;
  left: -20px;
}

.navbar_item img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user_menu {
  font-size: 20px;
  position: relative;
  padding: 10px 20px;
}

.user_menu:hover .user_menu_list {
  display: block;
}

.user_menu_list {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 8px 60px 0 rgba(103, 151, 255, 0.11),
    0 12px 90px 0 rgba(103, 151, 255, 0.11);
  position: absolute;
  min-width: 250px;
  right: -30px;
  top: 35px;
  background-color: white;
  display: none;
}
.user_menu_list li {
  padding: 20px;

  width: 100%;
}

.user_menu_list li:hover {
  background-color: #e6e6e6;
}

.bell {
  position: relative;
  font-size: 30px;
  margin-right: 20px;
}

.bell span {
  position: absolute;
  top: -2px;
  right: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 12px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.content {
  max-width: 1600px;
  margin: 40px auto 0;
}

.address {
  display: flex;
  gap: 15px;
  font-size: 24px;
}
.address span:last-child {
  color: #9c9c9c;
}
.main_content {
  margin-top: 40px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.content_left {
  width: 70%;
}

.content_left h1 {
  font-size: 50px;
}

.tour h2,
.cards h2 {
  font-size: 40px;
  margin-top: 60px;
}

.tour h3 {
  font-size: 24px;
}
.tour_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin-top: 30px;
  background-color: #e7e7e7;
  padding: 16px 24px;
  border-radius: 8px;
}
.wrap p {
  color: #9c9c9c;
  padding-top: 10px;
}

.cards_list {
  display: flex;
  column-gap: 40px;
  margin-top: 20px;
}

.card_item {
  border: 1px solid #ccc;
  padding: 0 30px;
  border-radius: 8px;
  background-color: #fff;
}

.card_item img {
  width: 80px;
  height: 100%;
}

.card_item.action {
  position: relative;
}

.card_item.action i {
  position: absolute;
  top: -8px;
  right: -5px;
  background-color: rgb(79, 118, 226);
  color: white;

  border-radius: 50%;
  padding: 4px;
  font-size: 10px;
}

.card_item.action {
  border-color: rgb(79, 118, 226);
}

.cards_img {
  margin-top: 50px;
}

.cards_img img {
  padding-right: 20px;
  width: 48%;
}

.card_info {
  margin-top: 40px;
  font-size: 22px;
  color: #5c5c5c;
}

.card_info div {
  padding-top: 15px;
}
.card_wrap {
  display: flex;
  column-gap: 30px;
}

.card_info input {
  border: none;
  padding: 14px;
  font-size: 18px;
  background-color: #e4e4e4;
  margin-top: 6px;
  border-radius: 8px;
}

.card_info input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
}

.card_info button {
  font-size: 24px;
  border: 1px solid #ccc;
  padding: 10px 20px;
  background-color: rgb(79, 118, 226);
  color: #fff;
  border-radius: 30px;
  margin-top: 20px;
}

.content_right {
  width: 30%;
}

.hotel {
  border: 1px solid #ccc;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 8px 60px 0 rgba(103, 151, 255, 0.11),
    0 12px 90px 0 rgba(103, 151, 255, 0.11);
}

.content_right > p {
  font-size: 28px;
  font-weight: 600;
}
.prize i {
  color: rgb(248, 203, 0);
  margin: 24px 0;
  font-size: 20px;
}
.prize span {
  color: #9c9c9c;
}

.content_right img {
  width: 100%;
  border-radius: 15px;
}
.content_right .hotel_room {
  color: #9c9c9c;
  font-size: 20px;
  margin-top: 20px;
}

.check {
  display: flex;
  color: #9c9c9c;
  margin-top: 40px;
  font-size: 20px;
}

.checkin {
  margin-right: auto;
  position: relative;
}

.checkin::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  background-color: #ccc;
  top: 0;
  right: -64px;
}

.checkin::before {
  position: absolute;
  content: "";
  width: 148%;
  height: 2px;
  background-color: #ccc;
  top: -24px;
}

.check > div > p {
  margin-bottom: 8px;
}

.check > div > span {
  color: #4d4d4d;
  font-size: 24px;
}

.guest p {
  color: #9c9c9c;
  margin-top: 40px;
  font-size: 20px;
  margin-bottom: 12px;
}
.guest span {
  color: #4d4d4d;
  font-size: 24px;
}

.details {
  margin-top: 30px;
}

.details h2 {
  font-size: 35px;
}

.details_list li {
  padding: 20px;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
}

.details_list li span:first-child {
  color: #9c9c9c;
}
.details_list li span:last-child {
  font-weight: 500;
}
.total {
  padding: 10px;
  background-color: #eeeded;
}

.report {
  color: #999999;
  text-align: center;
  padding: 30px 0 5px;
  letter-spacing: 2px;
}

.subcribe {
  width: 100%;
  background-color: rgb(79, 118, 226);
  color: #fff;
  padding: 60px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;
  margin-top: 40px;
  border-radius: 10px;
}

.subcribe div {
  width: 50%;
}

.subcribe_title p {
  margin-top: 15px;
  line-height: 1.8;
}
.subcribe_input {
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
}

.subcribe_input {
  display: flex;
  justify-content: space-between;
}

.subcribe_input input {
  border: none;
  font-size: 18px;
  padding-left: 15px;
  flex: 1;
  outline: none;
}

.subcribe_input button {
  border: none;
  font-size: 18px;
  background-color: black;
  color: #fff;
  padding: 16px 32px;
  border-radius: 8px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.footer_item1 {
  width: 25%;
}

.footer_item1 div {
  background-color: white;
  padding: 20px 30px;
  width: 40%;
  justify-content: space-between;
  display: flex;
  border-radius: 15px;
  margin-left: 15px;
}

.footer_item1 div i {
  font-size: 25px;
}

.footer_item > p {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 15px;
}
.footer_item .desciption,
.footer_item li {
  color: #999999;
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 400;
}
